/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */


/* 
  The :root selector is similar to html only with higher specificity.
*/
:root {
}

/* BOX RULES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* STATIC LAYOUT */
body {
  height: 100vh;
  padding: 0 5px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
#root {
  width: 550px;
}
#quote-box {
  border: 1px solid dimgray;
  border-radius: 3px;
  padding: 40px 50px;
  text-align: center;
}
#quote-box {
  display: flex;
  flex-flow: column;
  gap: 20px;
}
#author {
  text-align: right;
}

/* DEVICE-WIDTH QUERIES */
@media (max-width: 550px) {
  #root {
    width: 100%;
  }
  #quote-box {
    padding: 40px 5vw;
  }
}


/* TYPOGRAPHY */
#quote-box {
  font-family: raleway, sans-serif;
}
#text {
  font-size: 1.7em;
}
#author {
  font-size: 1em;
}
#tweet-quote,
#new-quote {
  font-size: 0.85em;
}